footer
	.container
		section.footer-main
			.row
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Thời cuộc
						nav.footer-link
							a(href="#!") Nông thôn mới
							a(href="#!") Giới và phát triển
							a(href="#!") Nhịp đời
							a(href="#!") 8 web
							a(href="#!") Người nổi tiếng
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Luật & Đời
						nav.footer-link
							a(href="#!") Hồ sơ
							a(href="#!") Tư vấn
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Khỏe
						nav.footer-link
							a(href="#!") Nhật ký bệnh viện
							a(href="#!") Thuốc Eva
							a(href="#!") Thai giáo
							a(href="#!") TMK
							a(href="#!") Nam học bí ẩn
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Đẹp
						nav.footer-link
							a(href="#!") Nhan sắc
							a(href="#!") Phong cách
							a(href="#!") Miss Photo
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Yêu
						nav.footer-link
							a(href="#!") Sao Hỏa - Sao Kim
							a(href="#!") Nghệ thuật yêu
							a(href="#!") Cưới
							a(href="#!") Gia đình trẻ
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Thanh tâm
						nav.footer-link
							a(href="#!") Thanh Tâm tư vấn
							a(href="#!") Thử làm Thanh Tâm
							a(href="#!") CLB kết bạn
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Camera phụ huynh
						nav.footer-link
							a(href="#!") Soi 24/7
							a(href="#!") Làm mẹ thiên tài
							a(href="#!") Cha - con
							a(href="#!") Từ điển 10x
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Mua & Bán
						nav.footer-link
							a(href="#!") Dịch vụ gia đình
							a(href="#!") Tiếng nói thượng đế
							a(href="#!") Tiêu dùng thông minh
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Thông thái
						nav.footer-link
							a(href="#!") Bí quyết thành công
							a(href="#!") Công nghệ tay mềm
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Sống chậm
						nav.footer-link
							a(href="#!") Khéo - Khiếu
							a(href="#!") Đi - đến
							a(href="#!") Mottainai
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Góc tâm hồn
						nav.footer-link
							a(href="#!") Nốt nhạc mềm
							a(href="#!") Màn hình Zero inch
							a(href="#!") Facebook
				.col-6.col-md-4.col-lg-3.col-xl-2
					section.footer-col
						.title 
							a(href="#!") Kho báu
						nav.footer-link
							a(href="#!") Liên kết
		section.footer-bottom
			.row.flex-content-center
				.col-12.col-md-6
					.footer-col
						//- .title Về chúng tôi
						.sitelogo.s2
							a(href="#!")
								img(src="img/logo2.png", alt="")
						.company Báo điện tử Phụ nữ Việt Nam
						.contact-info
							ul
								li Tổng biên tập: Nguyễn Thục Hạnh
								li <i class="fa fa-building-o" aria-hidden="true"></i>Tòa soạn: 47 Hàng Chuối, Tp. Hà Nội, Việt Nam 
								li <i class="fa fa-phone" aria-hidden="true"></i>Điện thoại: 
									a(href="tel:84-24-3971 3500") 84-24-3971 3500 
									| -  <i class="fa fa-fax" aria-hidden="true"></i>Fax: 84-24-3821 3202 
								li <i class="fa fa-phone" aria-hidden="true"></i>Đường dây nóng: 
									a(href="tel:094.170.7373") 094.170.7373 
									|-  <i class="fa fa-envelope-o" aria-hidden="true"></i>Email: 
									a(href="mailto:pnvnonline@phunuvietnam.vn") pnvnonline@phunuvietnam.vn

				.col-12.col-md-6
					.footer-col
						.title Liên hệ quảng cáo
						.sitelogo.ts
							a(href="#!")
								img(src="img/logo-ts.png", alt="")
						.company CÔNG TY CỔ PHẦN TẬP ĐOÀN CÔNG NGHỆ THÔNG TIN VÀ TRUYỀN THÔNG ITS
						.contact-info
							ul
								li <i class="fa fa-phone" aria-hidden="true"></i>Hotline: 
									a(href="tel:0918 731 115") 0918 731 115 
								li <i class="fa fa-building-o" aria-hidden="true"></i>Trụ sở: Lầu 10 - Tòa nhà Tổng Cục Chính Trị
									br
									|161-163 Trần Quốc Thảo, P.9, Q.3, Tp. Hồ Chí Minh
								li 
								li <i class="fa fa-envelope-o" aria-hidden="true"></i>Email: 
									a(href="mailto:quangcao@ioi.vn") hotro@ioi.vn 
									|- 
									a(href="http://tsmedia.ioi.vn ") info@itsgroup.vn 
									|- <i class="fa fa-globe" aria-hidden="true"></i>Website: 
									a(href="http://www.itsgroup.vn") www.itsgroup.vn
	.footer-copyright
		.copyright Báo Phụ Nữ Việt Nam không chịu trách nhiệm về liên kết mở rộng. 
			br
			|Việc sử dụng lại thông tin trên trang này phải có sự đồng ý bằng văn bản của báo Phụ nữ Việt Nam.