section.eheader
	a.btn-back(href="#!") <i class="fa fa-angle-left" aria-hidden="true"></i>
	.sitelogo
		a(href="#!")
			img(src="img/logo.png", alt="")

section.ebanner-wrap
	.container
		.e-banner
			.item
				.head-news
					figure
						a.news-img(href="#!")
							img(src="img/emag/h1.jpg", alt="")
						figcaption
							.news-cate Sống chậm
							h1.news-name
								a(href="#!") Băng rừng thiêng nước độc đến Mỹ: Đầu lâu ở "cổng chào", du kích chặn đường ra!
			.item
				.head-news
					figure
						a.news-img(href="#!")
							img(src="img/emag/h2.jpg", alt="")
						figcaption
							.news-cate Thời cuộc
							h1.news-name
								a(href="#!") "Ngọc Hoàng" Quốc Khánh: Tôi chọn tự do, sau này về già chịu cảnh đau đớn không ai chăm sóc
			.item
				.head-news
					figure
						a.news-img(href="#!")
							img(src="img/emag/h3.jpg", alt="")
						figcaption
							.news-cate Thời cuộc
							h1.news-name
								a(href="#!") Ông Lê Mạnh Hà - Con trai nguyên Chủ tịch nước Lê Đức Anh: "Tôi không xin cha mình cái gì bao giờ"

.container



