section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Đẹp
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.news-page
				.title-wrap
					h3.home-title 
						a(href="#!") Khỏe - Đẹp
					nav.news-cate
						a(href='#!') Thuốc và dinh dưỡng
						a(href='#!') Phong cách
						a(href='#!') Miss photo
				.news-list.news-list7
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/95.jpg", alt="")
							figcaption
								//- .news-cate Thời cuộc
								h4.news-name
									a(href="#!") Thúc đẩy bình đẳng giới khu vực châu Á - Thái Bình Dương
								//- time 10/02/2018
								.news-des Sáng 18/1, tại Hà Nội, trong khuôn khổ Hội nghị thường niên lần thứ 26 Diễn đàn Nghị viện châu Á -Thái Bình Dương (APPF - 26), Hội nghị Nữ nghị sĩ đã chính thức khai mạc với mục tiêu thúc đẩy bình đẳng giới và thịnh vượng chung trong khu vực.
				.news-list.news-list9
					.row
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h2.jpg", alt="")
									figcaption
										h1.news-name
											a(href="#!") Tân Hoa hậu Hoàn vũ H’hen Niê cùng các sao hội ngộ tại dạ tiệc
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/25.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h1.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Đinh Hiền Anh được mời làm giám khảo Miss & Mrs India International
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h3.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Bộ ảnh "độc" của Hoa hậu H'hen Niê khi còn tóc thề chớm vai
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h4.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Lan Khuê bất ngờ tiết lộ đang lên kế hoạch chuẩn bị kết hôn 
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h5.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Cô nàng năng động Á hậu Tú Anh thử sức ở marathon cự ly 5km
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Người Sài Gòn đặt hoa hồng trên gốc những hàng cây xanh bị đốn hạ
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Băng qua đường sắt ở Nam Định, đôi nam nữ tử vong
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/5.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") 3 xe cứu thương chở bệnh nhân “chôn chân” tại BOT Sóc Trăng
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/6.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Phong tỏa tài sản của bà Park Geun-hye
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/7.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Giải thưởng L’OREAL–UNESCO vinh danh 5 nhà khoa học nữ
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Băng qua đường sắt ở Nam Định, đôi nam nữ tử vong
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h2.jpg", alt="")
									figcaption
										h1.news-name
											a(href="#!") Tân Hoa hậu Hoàn vũ H’hen Niê cùng các sao hội ngộ tại dạ tiệc
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/25.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h1.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Đinh Hiền Anh được mời làm giám khảo Miss & Mrs India International
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h3.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Bộ ảnh "độc" của Hoa hậu H'hen Niê khi còn tóc thề chớm vai
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h4.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Lan Khuê bất ngờ tiết lộ đang lên kế hoạch chuẩn bị kết hôn 
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/h5.jpg", alt="")
									figcaption
										h2.news-name
											a(href="#!") Cô nàng năng động Á hậu Tú Anh thử sức ở marathon cự ly 5km
						//- article.col-12.col-sm-6.col-md-4
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/5.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") 3 xe cứu thương chở bệnh nhân “chôn chân” tại BOT Sóc Trăng
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4

		.col-12.col-lg-4.col-xl-3
			//- .home-sidebar
				.banner-ad
					img(src="img/banner/ad11.jpg", alt="")
			.home-sidebar
				.banner-ad
					img(src="img/banner/ad10.jpg", alt="")
			section.sidebar-news
				.title-wrap
					h3.sidebar-title Tin nổi bật
				.post-list.post-list2
					.post
						h4.post-name
							a(href="#!") Hoàng Kỳ Nam kết hợp Trúc Anh tung MV mới đậm chất ngôn tình
					.post
						h4.post-name
							a(href="#!") Thêm cơ hội cho các ngôi sao nhí rèn luyện kỹ năng
					.post
						h4.post-name
							a(href="#!") Café cùng doanh nghiệp: Nơi chia sẻ kinh nghiệm và kết nối giao thương
					.post
						h4.post-name
							a(href="#!") Lập kế hoạch chi tiêu để tránh rơi vào khủng hoảng tài chính
					.post
						h4.post-name
							a(href="#!") Triển lãm sắp đặt đầu tiên tại Việt Nam về chống nạn ấu dâm
					.post
						h4.post-name
							a(href="#!") Vợ đi xuất khẩu lao động 10 năm trở về mấy lần đòi chia tay
					.post
						h4.post-name
							a(href="#!") Giải pháp rút tiền 24/7 đầy sáng tạo, lần đầu tiên có tại Việt Nam
					.post
						h4.post-name
							a(href="#!") Vinpearl nâng cấp toàn hệ thống lên chuẩn 5 sao quốc tế
					.post
						h4.post-name
							a(href="#!") 5 dấu hiệu phân biệt cà chua Việt Nam-cà chua Trung Quốc
					.post
						h4.post-name
							a(href="#!") Thích thú thưởng thức bò cạp chiên "giá rẻ bất ngờ"
			//- .home-sidebar
				.banner-ad
					img(src="img/banner/ad13.jpg", alt="")
			.home-sidebar.ad-fixed
				.banner-ad
					img(src="img/banner/ad12.jpg", alt="")
		//- .col-12
			.news-other
				.title-wrap
					h3.home-title Tin cùng chuyên mục
				.news-list.news-list8
					.row
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/25.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Á hậu Mâu Thủy khoe vẻ sang trọng cùng Diễm My 9x trong bộ ảnh mới 
										//- time 10/02/2018
										.news-des Sau khi đăng quang ngôi Á hậu Miss Universe Vietnam 2017, Mâu Thủy tiếp tục trở thành gương mặt được giới truyền thông và nhiều thương hiệu săn đón bởi vẻ ngoài sang trọng, quyến rũ và sự thể hiện vẻ đẹp hình thể, tài năng ứng xử vượt trội trong đêm thi chung kết.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/26.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Trương Quỳnh Anh "biến hình" với váy áo kẻ
										//- time 10/02/2018
										.news-des  Mang hơi thở của thời trang có chút hoài cổ, diễn viên - ca sĩ Trương Quỳnh Anh thể hiện gout thời trang tinh tế của mình bằng sự lựa chọn họa tiết kẻ đang trở lại mạnh mẽ trong thời trang.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/27.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Lan Khuê bất ngờ tiết lộ với báo chí là sắp kết hôn
										//- time 10/02/2018
										.news-des Tại buổi tiệc, chân dài 9x này vô cùng xúc động khi xem clip tổng kết về hành trình của mình trong suốt thời gian qua. Đây cũng là món quà bất ngờ mà SuperMeow dành tặng cho Lan Khuê. Đáp lại tình cảm của người hâm mộ, Lan Khuê quyết định gửi tặng 10 phần học bổng thông qua 10 chú heo đất đáng yêu cho các bạn fan có thành tích học tập tốt.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/28.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Á hậu Vân Anh rạng rỡ nét thanh xuân với áo dài cô Ba
										//- time 10/02/2018
										.news-des Liên tục xuất hiện cũng như đánh dấu mình bằng những hình ảnh thu hút, vợ diễn viên Thành Được ngày càng được lòng công chúng bởi vẻ đẹp mặn mà, sang trọng. Mới đây, trong hình ảnh của “cô Ba Sài Gòn”, một lần nữa Vân Anh “đốn tim” những người yêu mến mình.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/15.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Lần đầu dẫn lưu nang giả tụy vào dạ dày cho bệnh nhân ăn khó tiêu
										//- time 10/02/2018
										.news-des Bệnh nhân đến khám trong tình trạng ăn uống khó tiêu. Sau khi thăm khám, các bác sĩ thấy hình ảnh một u nang lớn trước tụy và sau dạ dày. BV chỉ định dẫn lưu nang giả tụy vào dạ dày dưới hướng dẫn của nội soi siêu âm.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/16.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Gia đình đau đớn vì nữ hộ sinh đưa thuốc dưỡng thai thành phá thai
										//- time 10/02/2018
										.news-des Nữ hộ sinh đến giường của thai phụ và đưa cho hai viên thuốc yêu cầu đặt vào tử cung để tiếp tục dưỡng thai. Sau khi làm theo, hơn 1 giờ sau, thai phụ bị đau bụng liên tục, ra máu và được chẩn đoán đã sảy thai.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/18.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Đoàn liên ngành thực phẩm đến kiểm tra, chủ cơ sở đóng cửa không tiếp 
										//- time 10/02/2018
										.news-des Đó là chia sẻ của ông Nguyễn Thanh Phong, Cục trưởng Cục An toàn thực phẩm (Bộ Y tế) tại buổi họp báo chiều ngày 12/1. Theo ông Phong, Tết Nguyên đán Mậu Tuất và mùa lễ hội 2018 đang đến gần. Đây cũng là thời điểm tiêu thụ các sản phẩm thực phẩm như rượu, bia, nước giải khát, bánh mứt kẹo… tăng mạnh, kéo theo nhu cầu sản suất, kinh doanh tăng.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/19.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Bệnh tai mũi họng trước nguy cơ ô nhiễm không khí
										//- time 10/02/2018
										.news-des Tình trạng ô nhiễm không khí của Việt Nam hiện nay có những thời điểm rất đáng báo động. Kết quả quan trắc chất lượng không khí trong nhiều năm qua cũng cho thấy nhiều vùng đang bị ô nhiễm bụi nghiêm trọng, đe doạ đến sức khoẻ của người dân.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/21.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Hành động bất ngờ của người vợ hay tin chồng có người phụ nữ khác
										//- time 10/02/2018
										.news-des Chị Cậy làm bạn với tôi 10 năm nay. Chồng chị đi vắng, chị ở nhà chăm nom vườn cây ao cá với hai đứa con. Ngày ấy, con chị đứa lớn học lớp 7, đứa bé học lớp 3. Lúc nào tôi cũng thấy chị nhẹ nhàng, vui vẻ. Tuy là nhiều việc nhưng tôi không thấy chị vội vàng lúc nào. 
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/22.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Vợ sợ “yêu” vì viêm nhiễm vùng kín
										//- time 10/02/2018
										.news-des Giải thích cho chị Hà, bác sĩ bảo viêm nhiễm phụ khoa là bệnh thường gặp ở phụ nữ, đặc biệt là phụ nữ đã quan hệ tình dục, mang thai. Nguyên nhân bởi khi mang thai, “vùng kín” của chị em thường ẩm ướt, môi trường âm đạo thay đổi, sức đề kháng giảm, nếu không giữ vệ sinh âm đạo sạch sẽ thì dễ nhiễm nấm và viêm nhiễm phụ khoa.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/23.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") Ảnh cực hiếm về thủa ấu thơ của các thành viên Hoàng gia Anh
										//- time 10/02/2018
										.news-des Hoàng gia Anh vừa công bố một vài bức ảnh hiếm về thủa ấu thơ của các thành viên hoàng tộc nhân dịp tiểu Công chúa Charlotte bắt đầu đi mẫu giáo. Tiểu Công chúa Charlotte trong ngày đầu đi mẫu giáo. Hoàng tử George trong ngày đầu đi học tại Thomas Bsttersea. Công nương Kate Middleton lúc mới 3 tuổi. Tiểu Công chúa Charlotte nhân dịp sinh nhật 2 tuổi.
						article.col-6.col-md-4.col-lg-2
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/24.jpg", alt="")
									figcaption
										h4.news-name
											a(href="#!") 9 câu trả lời thẳng thắn, thú vị về người đồng tính nữ
										//- time 10/02/2018
										.news-des Bạn có bối rối không khi đàn ông tán tỉnh mình?”, “Công khai mình là 1 người đồng tính nữ, yêu phụ nữ thì có khó khăn gì?”, “Bạn có thấy mệt mỏi khi người ta cứ hỏi như thể bạn không phải là 1 người bình thường?