section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Đẹp
.container
	section.video-page
		.row.no-gutters
			.col-12.col-lg-8
				.video-play
					iframe(width='100%', height='500', src='https://www.youtube.com/embed/rEb1XZ5L5dY', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
			.col-12.col-lg-4
				.video-related
					.module-title Video cùng chuyên mục
					ul.video-list
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/h2.jpg", alt="")
									figcaption
										h3.video-name Tân Hoa hậu Hoàn vũ H’hen Niê cùng các sao hội ngộ tại dạ tiệc
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/25.jpg", alt="")
									figcaption
										h3.video-name Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/h1.jpg", alt="")
									figcaption
										h3.video-name Đinh Hiền Anh được mời làm giám khảo Miss & Mrs India International
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/h3.jpg", alt="")
									figcaption
										h3.video-name Bộ ảnh "độc" của Hoa hậu H'hen Niê khi còn tóc thề chớm vai
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/h4.jpg", alt="")
									figcaption
										h3.video-name Lan Khuê bất ngờ tiết lộ đang lên kế hoạch chuẩn bị kết hôn 
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/h2.jpg", alt="")
									figcaption
										h3.video-name Cô nàng năng động Á hậu Tú Anh thử sức ở marathon cự ly 5km
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.video-name Người Sài Gòn đặt hoa hồng trên gốc những hàng cây xanh bị đốn hạ
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.video-name Băng qua đường sắt ở Nam Định, đôi nam nữ tử vong
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/5.jpg", alt="")
									figcaption
										h3.video-name 3 xe cứu thương chở bệnh nhân “chôn chân” tại BOT Sóc Trăng
						li
							a.video(href="#!")
								figure
									.video-img
										img(src="img/news/6.jpg", alt="")
									figcaption
										h3.video-name Phong tỏa tài sản của bà Park Geun-hye
	.row
		.col-12.col-lg-8.col-xl-9
			section.news-page
				h1.video-title Á hậu Hà Thu bất ngờ tung MV Xuân đẹp đón Tết
				.video-detail
					.author Tác giả: 
						strong Đ.T.Hiền - M.Thuận 
					time 08:55 -  
					.date Chủ nhật, 28/01/2018
				.news-detail
					.news-des Trong MV vừa công bố, á hậu Hà Thu có dịp khoe chất giọng ngọt ngào, đầy cảm xúc khi thể hiện giai điệu vui tươi của ca khúc Xuân đẹp làm sao. Kết hợp với những cảnh quay đẹp mượt mà, MV đón tết 2018 của người đẹp thực sự là món quà xuân cho mọi người.
					.news-ralated
						ul
							li
								a(href="#!") Đỗ Mỹ Linh, Hà Thu, Minh Hằng, Puka... khoe sắc lộng lẫy trên thảm đỏ
							li
								a(href="#!") Hà Thu khoe body cực chuẩn, sẵn sàng lên đường thi Miss Earth 2017
							li
								a(href="#!") '500 anh em ma’ của Hoa hậu hài Thu Trang 'gây sốt'
					.content
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe harum eum numquam suscipit, delectus aperiam veritatis ad. Laudantium debitis culpa atque reiciendis voluptate, ratione ab veniam repellendus. Mollitia dicta laudantium ducimus nemo libero quas quo aperiam eligendi necessitatibus qui id aspernatur hic quibusdam exercitationem provident voluptatum enim rerum, labore aliquid ullam. Sapiente, amet? Quisquam rerum id cupiditate beatae quidem numquam voluptas mollitia neque totam tenetur praesentium, reiciendis corrupti dolorem officiis ex cum labore error voluptate repellendus iusto illo molestias. Ipsam rem enim facere commodi nihil natus recusandae dolor saepe. Sapiente, eos quibusdam laboriosam harum quia culpa quidem omnis totam vel?
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. At minima est reiciendis illo id optio illum libero molestiae consectetur doloremque facere nesciunt sequi officiis, dignissimos blanditiis praesentium velit ut cum eligendi ratione obcaecati perspiciatis nam magni saepe. Consectetur dicta ipsam facere odio quae, sapiente, ad, corrupti ipsa harum cupiditate culpa dolore placeat a optio. Voluptates minus reprehenderit quam ducimus nam! Sunt perferendis ducimus provident vel eveniet expedita id porro, molestias voluptatem rerum, pariatur hic eligendi magni perspiciatis minus cumque voluptatibus quidem atque cupiditate blanditiis similique nam vero quam. Ut, nemo et! Sint, magnam vitae ea sed non cumque asperiores ipsam aliquid labore ducimus accusamus voluptas repellendus iure pariatur quam, doloribus quo et temporibus, animi molestias a exercitationem tempore ab iste. Quidem magni, sit placeat voluptate recusandae culpa debitis cupiditate dolor quo. Alias dolorem iste nobis et beatae accusantium voluptatibus impedit nihil. Porro officiis quae quam. Tempora obcaecati dolorem ad, perspiciatis repellendus, rerum pariatur facilis placeat error numquam asperiores? Unde ullam dolorum quos necessitatibus in omnis ipsa voluptatum eveniet placeat culpa deleniti laboriosam aliquam sed accusantium perspiciatis quam repellat a accusamus autem esse, dolore dolores. Dolor, saepe! Magnam animi magni qui quidem sapiente deserunt odit id rerum laudantium debitis, cumque, quaerat, itaque quod. Facilis, fuga pariatur molestias consectetur veniam voluptatum blanditiis? Debitis minima quaerat corrupti assumenda deleniti velit modi, voluptatibus atque dignissimos, odit cum placeat unde voluptas aliquid veritatis voluptatum perferendis tenetur non vitae adipisci repudiandae in praesentium? Minus hic inventore id, laboriosam, libero maiores, mollitia beatae excepturi deleniti esse dolorem!
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque vitae sint soluta, ex vel id nostrum nisi. Tenetur, praesentium deserunt eos iusto similique et repudiandae sed voluptatibus quasi veniam esse vitae porro ipsam sequi temporibus. Eos, illo libero quidem aut provident ex pariatur eius optio maxime obcaecati velit mollitia, doloribus architecto, tempora atque quis iure nemo cum. Ducimus saepe amet obcaecati doloremque fuga consectetur possimus voluptas incidunt iure sit temporibus, earum eaque, sed accusamus voluptatem? Illo cum recusandae asperiores dolorum accusamus ducimus quia velit sapiente culpa! Voluptas officiis minima sunt qui quo dolorum amet nemo, ipsum voluptatum corrupti in a enim vel quaerat commodi odit quis temporibus explicabo. Doloribus maiores soluta earum praesentium vel harum hic laboriosam nesciunt nulla sapiente! A, dicta quas? Tempore ipsa deserunt vel, esse, cupiditate voluptatem at asperiores odio cumque mollitia facere nihil sint est laudantium eius. Voluptatem excepturi explicabo vel aliquid reprehenderit, laudantium, mollitia dolorum odio cum consectetur accusamus praesentium! Neque delectus impedit in labore libero praesentium, dolorem dicta reprehenderit nobis doloremque, accusamus cum consequuntur nisi sequi corporis vel qui dolorum eius mollitia minima similique laborum amet accusantium. Excepturi adipisci sint nostrum vel. Est tempora dolorum suscipit dignissimos cum dolores qui eligendi aspernatur maiores natus? Corrupti veniam hic voluptatem molestias doloremque similique nobis obcaecati facilis possimus eveniet dolor sequi voluptates sed, incidunt expedita aperiam commodi placeat ad in doloribus aliquid. Delectus blanditiis minima tenetur quos consectetur amet, deleniti odit corrupti maiores magnam beatae ab omnis quibusdam quia nemo, voluptates ut obcaecati in vitae commodi nihil rem. Veritatis corrupti sunt, accusantium totam id, voluptatem rerum, itaque voluptas est illum cumque nemo dignissimos fugiat natus. A maiores magnam doloremque consequuntur. Neque, est ab aut esse voluptatibus exercitationem qui voluptatem asperiores veniam, totam aperiam modi quos aliquid quae minus laudantium vero sunt unde dolorem iste? Eum, illum autem!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores unde tenetur neque? Harum soluta laborum rem eum qui amet assumenda?
					.share
						img(src="img/share.jpg", alt="")
					.key-word
						label Từ khóa
						a(href="#!") Đẹp
						a(href="#!") đinh hiền anh
						a(href="#!") nữ hoàng kim cương 2017
						a(href="#!") ca sĩ đinh hiền anh
						a(href="#!") miss mrs india international
						a(href="#!") báo phụ nữ Việt Nam
						a(href="#!") phunuvietnam.vn
						a(href="#!") phunuvietnam
				.news-comment
					.module-title Ý kiến của bạn
					.form-wrap
						.form-group
							textarea(name="", cols="30", rows="4")
						.frm-btn
						input(type="submit", value=" Gửi bình luận")
		.col-12.col-lg-4.col-xl-3
			.home-sidebar
				.banner-ad
					img(src="img/banner/ad10.jpg", alt="")
			section.sidebar-news
				.title-wrap
					h3.sidebar-title Video nổi bật
				ul.video-list
					li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/h2.jpg", alt="")
								figcaption
									h3.video-name Tân Hoa hậu Hoàn vũ H’hen Niê cùng các sao hội ngộ tại dạ tiệc
					li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/25.jpg", alt="")
								figcaption
									h3.video-name Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
					li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/h1.jpg", alt="")
								figcaption
									h3.video-name Đinh Hiền Anh được mời làm giám khảo Miss & Mrs India International
					li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/h3.jpg", alt="")
								figcaption
									h3.video-name Bộ ảnh "độc" của Hoa hậu H'hen Niê khi còn tóc thề chớm vai
					li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/h4.jpg", alt="")
								figcaption
									h3.video-name Lan Khuê bất ngờ tiết lộ đang lên kế hoạch chuẩn bị kết hôn 
					//- li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/h2.jpg", alt="")
								figcaption
									h3.video-name Cô nàng năng động Á hậu Tú Anh thử sức ở marathon cự ly 5km
					//- li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.video-name Người Sài Gòn đặt hoa hồng trên gốc những hàng cây xanh bị đốn hạ
					//- li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/4.jpg", alt="")
								figcaption
									h3.video-name Băng qua đường sắt ở Nam Định, đôi nam nữ tử vong
					//- li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/5.jpg", alt="")
								figcaption
									h3.video-name 3 xe cứu thương chở bệnh nhân “chôn chân” tại BOT Sóc Trăng
					//- li
						a.video(href="#!")
							figure
								.video-img
									img(src="img/news/6.jpg", alt="")
								figcaption
									h3.video-name Phong tỏa tài sản của bà Park Geun-hye
			.home-sidebar.ad-fixed
				.banner-ad
					img(src="img/banner/ad12.jpg", alt="")