//- .container
//- section.slide-news
	label <i class="fa fa-rss" aria-hidden="true"></i> Tin mới cập nhật
	marquee.news-marquee
		a(href='http://phunuvietnam.vn/thoi-cuoc/nguoi-sai-gon-dat-hoa-hong-tren-goc-nhung-hang-cay-xanh-bi-don-ha-post37759.html') Ng&#x1B0;&#x1EDD;i S&agrave;i G&ograve;n &dstrok;&#x1EB7;t hoa h&#x1ED3;ng tr&ecirc;n g&#x1ED1;c nh&#x1EEF;ng h&agrave;ng c&acirc;y xanh b&#x1ECB; &dstrok;&#x1ED1;n h&#x1EA1;
		a(href='http://phunuvietnam.vn/song-cham/su-dung-may-nuoc-nong-an-toan-post37679.html') S&#x1EED; d&#x1EE5;ng m&aacute;y n&#x1B0;&#x1EDB;c n&oacute;ng an to&agrave;n
		a(href='http://phunuvietnam.vn/dich-vu-gia-dinh/3-ung-dung-giup-de-dang-quan-ly-chi-tieu-post37733.html') 3 &#x1EE9;ng d&#x1EE5;ng gi&uacute;p d&#x1EC5; d&agrave;ng qu&#x1EA3;n l&yacute; chi ti&ecirc;u 
		a(href='http://phunuvietnam.vn/thanh-tam/lam-xa-nha-soc-khi-nghe-con-ke-me-thuong-khoac-tay-chu-dong-nghiep-post37646.html') L&agrave;m xa nh&agrave;, s&#x1ED1;c khi nghe con k&#x1EC3; m&#x1EB9; th&#x1B0;&#x1EDD;ng kho&aacute;c tay ch&uacute; &dstrok;&#x1ED3;ng nghi&#x1EC7;p 
		a(href='http://phunuvietnam.vn/thoi-cuoc/bang-qua-duong-sat-o-nam-dinh-doi-nam-nu-tu-vong-post37749.html') B&abreve;ng qua &dstrok;&#x1B0;&#x1EDD;ng s&#x1EAF;t &#x1EDF; Nam &Dstrok;&#x1ECB;nh, &dstrok;&ocirc;i nam n&#x1EEF; t&#x1EED; vong
		a(href='http://phunuvietnam.vn/luat-doi/tam-giu-mot-giao-vien-mam-non-ban-de-thi-tuyen-vien-chuc-gia-post37750.html') T&#x1EA1;m gi&#x1EEF; m&#x1ED9;t gi&aacute;o vi&ecirc;n m&#x1EA7;m non b&aacute;n &dstrok;&#x1EC1; thi tuy&#x1EC3;n vi&ecirc;n ch&#x1EE9;c gi&#x1EA3;
		a(href='http://phunuvietnam.vn/thoi-cuoc/3-xe-cuu-thuong-cho-benh-nhan-chon-chan-tai-bot-soc-trang-post37748.html') 3 xe c&#x1EE9;u th&#x1B0;&#x1A1;ng ch&#x1EDF; b&#x1EC7;nh nh&acirc;n &ldquo;ch&ocirc;n ch&acirc;n&rdquo; t&#x1EA1;i BOT S&oacute;c Tr&abreve;ng
		a(href='http://phunuvietnam.vn/tu-van/thu-tuc-dang-ky-de-cha-nhan-con-post37629.html') Th&#x1EE7; t&#x1EE5;c &dstrok;&abreve;ng k&yacute; &dstrok;&#x1EC3; cha nh&#x1EAD;n con
		a(href='http://phunuvietnam.vn/tu-van/bi-buoc-thoi-viec-khi-moi-say-thai-post37628.html') B&#x1ECB; bu&#x1ED9;c th&ocirc;i vi&#x1EC7;c khi m&#x1EDB;i s&#x1EA9;y thai
		a(href='http://phunuvietnam.vn/camera-phu-huynh/day-tre-biet-chia-se-post37669.html') D&#x1EA1;y tr&#x1EBB; bi&#x1EBF;t chia s&#x1EBB;
		a(href='http://phunuvietnam.vn/yeu/hanh-dong-bat-ngo-cua-nguoi-vo-hay-tin-chong-co-nguoi-phu-nu-khac-post37715.html') H&agrave;nh &dstrok;&#x1ED9;ng b&#x1EA5;t ng&#x1EDD; c&#x1EE7;a ng&#x1B0;&#x1EDD;i v&#x1EE3; hay tin ch&#x1ED3;ng c&oacute; ng&#x1B0;&#x1EDD;i ph&#x1EE5; n&#x1EEF; kh&aacute;c
		a(href='http://phunuvietnam.vn/thoi-cuoc/phong-toa-tai-san-cua-ba-park-geun-hye-post37728.html') Phong t&#x1ECF;a t&agrave;i s&#x1EA3;n c&#x1EE7;a b&agrave; Park Geun-hye
section.headline-banner.clearfix
	.container
		.headline-news
			figure
				a.news-img(href="#!")
					img(src="img/news/h2.jpg", alt="")
				figcaption
					.news-cate Đẹp
					h1.news-name
						a(href="#!") Tân Hoa hậu Hoàn vũ H’hen Niê cùng các sao hội ngộ tại dạ tiệc
					//- time 10/02/2018
		.headline-list
			.row.no-gutters
				article.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					.head-news
						figure
							a.news-img(href="#!")
								img(src="img/news/25.jpg", alt="")
							figcaption
								.news-cate Đẹp
								h2.news-name
									a(href="#!") Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
								//- time 10/02/2018
				article.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					.head-news
						figure
							a.news-img(href="#!")
								img(src="img/news/h1.jpg", alt="")
							figcaption
								.news-cate Đẹp
								h2.news-name
									a(href="#!") Đinh Hiền Anh được mời làm giám khảo Miss & Mrs India International
								//- time 10/02/2018
				article.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					.head-news
						figure
							a.news-img(href="#!")
								img(src="img/news/h3.jpg", alt="")
							figcaption
								.news-cate Đẹp
								h2.news-name
									a(href="#!") Bộ ảnh "độc" của Hoa hậu H'hen Niê khi còn tóc thề chớm vai
								//- time 10/02/2018
				article.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					.head-news
						figure
							a.news-img(href="#!")
								img(src="img/news/h4.jpg", alt="")
							figcaption
								.news-cate Yêu
								h2.news-name
									a(href="#!") Lan Khuê bất ngờ tiết lộ đang lên kế hoạch chuẩn bị kết hôn 
								//- time 10/02/2018
				article.col-12.col-sm-6.col-md-4.col-lg-3.col-custom
					.head-news
						figure
							a.news-img(href="#!")
								img(src="img/news/h5.jpg", alt="")
							figcaption
								.news-cate Khỏe
								h2.news-name
									a(href="#!") Cô nàng năng động Á hậu Tú Anh thử sức ở marathon cự ly 5km
								//- time 10/02/2018

.container
	.row
		.col-12
			section.bn-ad
				a(href="#!")
					img(src="img/banner/bnad0.jpg", alt="")
		.col-12.col-lg-8.col-xl-9
			section.news-group.clearfix
				.title-wrap
					h3.home-title 
						a(href="#!") Thời cuộc
					nav.news-cate
						a(href="#!") Giới và phát triển
						a(href="#!") Nhịp đời
						a(href="#!") 8 Web
						a(href="#!") Người nổi tiếng
				.home-news
					.item
						.news-list
							.row
								.col-12.col-md-6
									.news-col.big
										figure
											a.news-img(href="#!")
												img(src="img/news/1.jpg", alt="")
												.news-cate Thời cuộc
											figcaption
												h4.news-name
													a(href="#!") Người Sài Gòn đặt hoa hồng trên gốc những hàng cây xanh bị đốn hạ
												//- time 10/02/2018
												.news-des Để phục vụ công trình xây dựng cầu Thủ Thiêm 2 ở Sài Gòn, hàng trăm cây xanh trên đường Tôn Đức Thắng (quận 1) đang bị chặt hạ và bứng để di dời. Sau khi cây bị chặt hạ, một số người đã đặt hoa hồng lên phần gốc khiến người đi đường ngạc nhiên.
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/4.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Băng qua đường sắt ở Nam Định, đôi nam nữ tử vong
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/5.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") 3 xe cứu thương chở bệnh nhân “chôn chân” tại BOT Sóc Trăng
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/6.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Phong tỏa tài sản của bà Park Geun-hye
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/7.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Giải thưởng L’OREAL–UNESCO vinh danh 5 nhà khoa học nữ
												//- time 10/02/2018
					.item
						.news-list
							.row
								.col-12.col-md-6
									.news-col.big
										figure
											a.news-img(href="#!")
												img(src="img/news/1.jpg", alt="")
												.news-cate Thời cuộc
											figcaption
												h4.news-name
													a(href="#!") Người Sài Gòn đặt hoa hồng trên gốc những hàng cây xanh bị đốn hạ
												//- time 10/02/2018
												.news-des Để phục vụ công trình xây dựng cầu Thủ Thiêm 2 ở Sài Gòn, hàng trăm cây xanh trên đường Tôn Đức Thắng (quận 1) đang bị chặt hạ và bứng để di dời. Sau khi cây bị chặt hạ, một số người đã đặt hoa hồng lên phần gốc khiến người đi đường ngạc nhiên.
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/4.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Băng qua đường sắt ở Nam Định, đôi nam nữ tử vong
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/5.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") 3 xe cứu thương chở bệnh nhân “chôn chân” tại BOT Sóc Trăng
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/6.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Phong tỏa tài sản của bà Park Geun-hye
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/7.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Giải thưởng L’OREAL–UNESCO vinh danh 5 nhà khoa học nữ
												//- time 10/02/2018
			section.bn-ad
				a(href="#!")
					img(src="img/banner/bnad1.jpg", alt="")
			section.news-group.clearfix
				.title-wrap
					h3.home-title 
						a(href="#!") Luật & đời
					nav.news-cate
						a(href="#!") Văn bản mới
						a(href="#!") Tư vấn
						a(href="#!") Nhật ký tòa hôn nhân
				.home-news
					.item
						.news-list.news-list2
							.row
								.col-12
									.news-col.big
										figure
											a.news-img(href="#!")
												img(src="img/news/9.jpg", alt="")
											figcaption
												.news-cate Luật & Đời
												h4.news-name
													a(href="#!") Lái xe gây tai nạn liên hoàn khiến 2 nữ sinh tử vong rồi bỏ trốn
												//- time 10/02/2018
												.news-des Chiếc xe ô tô chạy với tốc độ cao bất ngờ tông vào 2 nữ sinh đang đi bộ bên đường, sau đó chiếc xe này tiếp tục chạy và tông vào nhiều phương tiện khác rồi mới dừng lại, tài xế sau khi xuống xe đã rời khỏi hiện trường.
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/10.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Quán bar cho hot girl mặc bikini múa cột phục vụ khách 
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/11.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Kẻ tội phạm tàn độc nhất nước Nga sát hại 81 phụ nữ
												//- time 10/02/2018
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/12.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Tạm giữ một giáo viên mầm non bán đề thi tuyển viên chức giả
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/13.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") TPHCM: Cơ bản “dẹp sạch” bãi giữ xe trên vỉa hè quận 1
												//- time 10/02/2018
					.item
						.news-list.news-list2
							.row
								.col-12
									.news-col.big
										figure
											a.news-img(href="#!")
												img(src="img/news/9.jpg", alt="")
											figcaption
												.news-cate Luật & Đời
												h4.news-name
													a(href="#!") Lái xe gây tai nạn liên hoàn khiến 2 nữ sinh tử vong rồi bỏ trốn
												//- time 10/02/2018
												.news-des Chiếc xe ô tô chạy với tốc độ cao bất ngờ tông vào 2 nữ sinh đang đi bộ bên đường, sau đó chiếc xe này tiếp tục chạy và tông vào nhiều phương tiện khác rồi mới dừng lại, tài xế sau khi xuống xe đã rời khỏi hiện trường.
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/10.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Quán bar cho hot girl mặc bikini múa cột phục vụ khách 
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/11.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Kẻ tội phạm tàn độc nhất nước Nga sát hại 81 phụ nữ
												//- time 10/02/2018
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/12.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Tạm giữ một giáo viên mầm non bán đề thi tuyển viên chức giả
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/13.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") TPHCM: Cơ bản “dẹp sạch” bãi giữ xe trên vỉa hè quận 1
												//- time 10/02/2018
			section.bn-ad
				a(href="#!")
					img(src="img/banner/bnad2.jpg", alt="")
			section.news-group.clearfix
				.title-wrap
					h3.home-title 
						a(href="#!") Đẹp
					nav.news-cate
						a(href="#!") Nhan sắc
						a(href="#!") Phong cách
						a(href="#!") Miss photo
				.home-news
					.item
						.news-list.news-list3
							.row
								.col-12.col-md-6
									.news-col.big
										figure
											a.news-img(href="#!")
												img(src="img/news/25.jpg", alt="")
											figcaption
												.news-cate Đẹp
												h4.news-name
													a(href="#!") Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
												//- time 10/02/2018
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/h1.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Đinh Hiền Anh được mời làm giám khảo Miss & Mrs India International 
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/27.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Lan Khuê bất ngờ tiết lộ sắp kết hôn
												//- time 10/02/2018
					.item
						.news-list.news-list3
							.row
								.col-12.col-md-6
									.news-col.big
										figure
											a.news-img(href="#!")
												img(src="img/news/25.jpg", alt="")
											figcaption
												.news-cate Đẹp
												h4.news-name
													a(href="#!") Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
												//- time 10/02/2018
								.col-12.col-md-6
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/h1.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Đinh Hiền Anh được mời làm giám khảo Miss & Mrs India International 
												//- time 10/02/2018
									.news-col
										figure
											a.news-img(href="#!")
												img(src="img/news/27.jpg", alt="")
											figcaption
												h4.news-name
													a(href="#!") Lan Khuê bất ngờ tiết lộ sắp kết hôn
												//- time 10/02/2018
			section.bn-ad
				a(href="#!")
					img(src="img/banner/bnad3.jpg", alt="")
			section.news-group.clearfix
				.title-wrap
					h3.home-title 
						a(href="#!") Khỏe
					nav.news-cate
						a(href="#!") Sau phòng cấp cứu
						a(href="#!") Thuốc Eva
						a(href="#!") Thai giáo
						a(href="#!") TMK
						a(href="#!") Nam học bí ẩn
						a(href="#!") Mẹo
				.news-list.news-list4
					.row
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/15.jpg", alt="")
										.news-cate Khỏe
									figcaption
										h4.news-name
											a(href="#!") Lần đầu dẫn lưu nang giả tụy vào dạ dày cho bệnh nhân ăn khó tiêu
										//- time 10/02/2018
										.news-des Bệnh nhân đến khám trong tình trạng ăn uống khó tiêu. Sau khi thăm khám, các bác sĩ thấy hình ảnh một u nang lớn trước tụy và sau dạ dày. BV chỉ định dẫn lưu nang giả tụy vào dạ dày dưới hướng dẫn của nội soi siêu âm.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/16.jpg", alt="")
										.news-cate Khỏe
									figcaption
										h4.news-name
											a(href="#!") Gia đình đau đớn vì nữ hộ sinh đưa thuốc dưỡng thai thành phá thai
										//- time 10/02/2018
										.news-des Nữ hộ sinh đến giường của thai phụ và đưa cho hai viên thuốc yêu cầu đặt vào tử cung để tiếp tục dưỡng thai. Sau khi làm theo, hơn 1 giờ sau, thai phụ bị đau bụng liên tục, ra máu và được chẩn đoán đã sảy thai.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/18.jpg", alt="")
										.news-cate Khỏe
									figcaption
										h4.news-name
											a(href="#!") Đoàn liên ngành thực phẩm đến kiểm tra, chủ cơ sở đóng cửa không tiếp 
										//- time 10/02/2018
										.news-des Đó là chia sẻ của ông Nguyễn Thanh Phong, Cục trưởng Cục An toàn thực phẩm (Bộ Y tế) tại buổi họp báo chiều ngày 12/1. Theo ông Phong, Tết Nguyên đán Mậu Tuất và mùa lễ hội 2018 đang đến gần. Đây cũng là thời điểm tiêu thụ các sản phẩm thực phẩm như rượu, bia, nước giải khát, bánh mứt kẹo… tăng mạnh, kéo theo nhu cầu sản suất, kinh doanh tăng.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/19.jpg", alt="")
										.news-cate Khỏe
									figcaption
										h4.news-name
											a(href="#!") Bệnh tai mũi họng trước nguy cơ ô nhiễm không khí
										//- time 10/02/2018
										.news-des Tình trạng ô nhiễm không khí của Việt Nam hiện nay có những thời điểm rất đáng báo động. Kết quả quan trắc chất lượng không khí trong nhiều năm qua cũng cho thấy nhiều vùng đang bị ô nhiễm bụi nghiêm trọng, đe doạ đến sức khoẻ của người dân.
			section.bn-ad
				a(href="#!")
					img(src="img/banner/bnad1.jpg", alt="")
		.col-12.col-lg-4.col-xl-3
			.home-sidebar
				.banner-ad
					a(href="#!")
						img(src="img/banner/ad2.jpg", alt="")
			.home-sidebar
				.fanpage
					a(href="#!")
						img(src="img/banner/ad3.jpg", alt="")
			.sidebar-news
				.title-wrap
					h3.sidebar-title Xem nhiều nhất
				.post-list.post-list2
					.post
						h4.post-name
							a(href="#!") Hoàng Kỳ Nam kết hợp Trúc Anh tung MV mới đậm chất ngôn tình
					.post
						h4.post-name
							a(href="#!") Thêm cơ hội cho các ngôi sao nhí rèn luyện kỹ năng
					.post
						h4.post-name
							a(href="#!") Café cùng doanh nghiệp: Nơi chia sẻ kinh nghiệm và kết nối giao thương
					.post
						h4.post-name
							a(href="#!") Lập kế hoạch chi tiêu để tránh rơi vào khủng hoảng tài chính
					.post
						h4.post-name
							a(href="#!") Triển lãm sắp đặt đầu tiên tại Việt Nam về chống nạn ấu dâm
					.post
						h4.post-name
							a(href="#!") Vợ đi xuất khẩu lao động 10 năm trở về mấy lần đòi chia tay
					.post
						h4.post-name
							a(href="#!") Giải pháp rút tiền 24/7 đầy sáng tạo, lần đầu tiên có tại Việt Nam
					.post
						h4.post-name
							a(href="#!") Vinpearl nâng cấp toàn hệ thống lên chuẩn 5 sao quốc tế
					.post
						h4.post-name
							a(href="#!") 5 dấu hiệu phân biệt cà chua Việt Nam-cà chua Trung Quốc
					.post
						h4.post-name
							a(href="#!") Thích thú thưởng thức bò cạp chiên "giá rẻ bất ngờ"
			.sidebar-newspaper
				.title-wrap
					.sidebar-title Tờ báo
				.newspaper-list
					.newspaper
						figure
							a.news-img(href="#!" data-fancybox="newspaper1")
								img(src="img/banner/b1.jpg", alt="")
							figcaption Phụ nữ Việt Nam
					.newspaper
						figure
							a.news-img(href="#!" data-fancybox="newspaper1")
								img(src="img/banner/b2.jpg", alt="")
							figcaption Thế giới phụ nữ
					.newspaper
						figure
							a.news-img(href="#!" data-fancybox="newspaper1")
								img(src="img/banner/b3.jpg", alt="")
							figcaption Phụ nữ Việt Nam
					.newspaper
						figure
							a.news-img(href="#!" data-fancybox="newspaper1")
								img(src="img/banner/b4.jpg", alt="")
							figcaption Hạnh phúc gia đình
			.newspaper-book LIÊN HỆ ĐẶT BÁO: 
				br
				a(href="tel:08.39300170") 08.39300170
				| - 
				a(href="tel:04.39719519") 04.39719519
section.home-video
	.container
		.title-wrap
			h3.home-title 
				a(href="#!") Video
		.video-list
			.row.no-gutters
				.col-12.col-lg-6
					.video.big
						figure
							a.video-img(href="#!" data-fancybox="")
								img(src="img/news/v1.jpg", alt="")
							figcaption
								h4.video-name
									a(href="#!" data-fancybox="") Hồ Trung Dũng da diết hát "Mùa đông không lạnh nữa"'
				.col-12.col-lg-6
					.row.no-gutters
						.col-12.col-md-6
							.video
								figure
									a.video-img(href="#!" data-fancybox="")
										img(src="img/news/v2.jpg", alt="")
									figcaption
										h4.video-name
											a(href="#!" data-fancybox="") Đổi món với bắp cải cuốn thịt thanh mát, giải ngán'
						.col-12.col-md-6
							.video
								figure
									a.video-img(href="#!" data-fancybox="")
										img(src="img/news/v3.jpg", alt="")
									figcaption
										h4.video-name
											a(href="#!" data-fancybox="") Thiếu nữ kéo xe nặng 2 tấn bằng tóc'
						.col-12.col-md-6
							.video
								figure
									a.video-img(href="#!" data-fancybox="")
										img(src="img/news/v4.jpg", alt="")
									figcaption
										h4.video-name
											a(href="#!" data-fancybox="") 9 câu trả lời thẳng thắn, thú vị về người đồng tính nữ'
						.col-12.col-md-6
							.video
								figure
									a.video-img(href="#!" data-fancybox="")
										img(src="img/news/v5.jpg", alt="")
									figcaption
										h4.video-name
											a(href="#!" data-fancybox="") Cô dâu Việt trên đất Hàn chia sẻ cách duy trì tiếng mẹ đẻ cho con
.container
	.row
		.col-12.col-lg-8.col-xl-9
			.row
				.col-12.col-md-6.col-lg-6
					section.news-group.clearfix
						.title-wrap
							h3.home-title 
								a(href="#!") Yêu
							//- nav.news-cate
								a(href="#!") Yêu mình yêu người
								a(href="#!") Cưới
								a(href="#!") Gia đình trẻ
								a(href="#!") CLB kết bạn
						.home-news
							.news-list.news-list5
								.news-col.big
									figure
										a.news-img(href="#!")
											img(src="img/news/21.jpg", alt="")
										figcaption
											.news-cate Camera phụ huynh
											h4.news-name
												a(href="#!") Hành động bất ngờ của người vợ hay tin chồng có người phụ nữ khác
											//- time 10/02/2018
											//- .news-des Chị Cậy làm bạn với tôi 10 năm nay. Chồng chị đi vắng, chị ở nhà chăm nom vườn cây ao cá với hai đứa con. Ngày ấy, con chị đứa lớn học lớp 7, đứa bé học lớp 3. Lúc nào tôi cũng thấy chị nhẹ nhàng, vui vẻ. Tuy là nhiều việc nhưng tôi không thấy chị vội vàng lúc nào. 
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/22.jpg", alt="")
										figcaption
											h4.news-name
												a(href="#!") Vợ sợ “yêu” vì viêm nhiễm vùng kín
											//- time 10/02/2018
											//- .news-des Giải thích cho chị Hà, bác sĩ bảo viêm nhiễm phụ khoa là bệnh thường gặp ở phụ nữ, đặc biệt là phụ nữ đã quan hệ tình dục, mang thai. Nguyên nhân bởi khi mang thai, “vùng kín” của chị em thường ẩm ướt, môi trường âm đạo thay đổi, sức đề kháng giảm, nếu không giữ vệ sinh âm đạo sạch sẽ thì dễ nhiễm nấm và viêm nhiễm phụ khoa.
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/23.jpg", alt="")
										figcaption
											h4.news-name
												a(href="#!") Ảnh cực hiếm về thủa ấu thơ của các thành viên Hoàng gia Anh
											//- time 10/02/2018
											//- .news-des Hoàng gia Anh vừa công bố một vài bức ảnh hiếm về thủa ấu thơ của các thành viên hoàng tộc nhân dịp tiểu Công chúa Charlotte bắt đầu đi mẫu giáo. Tiểu Công chúa Charlotte trong ngày đầu đi mẫu giáo. Hoàng tử George trong ngày đầu đi học tại Thomas Bsttersea. Công nương Kate Middleton lúc mới 3 tuổi. Tiểu Công chúa Charlotte nhân dịp sinh nhật 2 tuổi.
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/24.jpg", alt="")
										figcaption
											h4.news-name
												a(href="#!") 9 câu trả lời thẳng thắn, thú vị về người đồng tính nữ
											//- time 10/02/2018
											//- .news-des Bạn có bối rối không khi đàn ông tán tỉnh mình?”, “Công khai mình là 1 người đồng tính nữ, yêu phụ nữ thì có khó khăn gì?”, “Bạn có thấy mệt mỏi khi người ta cứ hỏi như thể bạn không phải là 1 người bình thường?
				.col-12.col-md-6.col-lg-6
					section.news-group.clearfix
						.title-wrap
							h3.home-title 
								a(href="#!") Camera Phụ huynh
							//- nav.news-cate
								a(href="#!") Soi 24/7
								a(href="#!") Phụ huynh
						.home-news
							.news-list.news-list5
								.news-col.big
									figure
										a.news-img(href="#!")
											img(src="img/news/31.jpg", alt="")
										figcaption
											.news-cate Camera phụ huynh
											h4.news-name
												a(href="#!") Cha ngã ngửa khi biết lý do con trai lớp 8 nói dối thành thần
											//- time 10/02/2018
											//- .news-des Từ ngày bước vào tuổi teen, cậu con trai lớp 8 Hữu Đạt ham vui và lười học hơn, chỉ thích tụ tập bạn bè. Cậu thường xuyên nói dối bố mẹ đi học thêm để đi chơi game cùng nhóm bạn. Biết tính con nên anh Đạt quản lý con khá chặt chẽ. Thế nhưng, lần nào về “tra khảo” con, anh cũng nhận được câu trả lời rất “trơn tru” như thể mình “vô tội.
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/32.jpg", alt="")
										figcaption
											h4.news-name
												a(href="#!") Dạy trẻ tư duy phản biện bằng 3 thói quen đơn giản
											//- time 10/02/2018
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/33.jpg", alt="")
										figcaption
											h4.news-name
												a(href="#!") Học tín chỉ từ phổ thông: Cần lắng nghe học sinh 
											//- time 10/02/2018
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/34.jpg", alt="")
										figcaption
											h4.news-name
												a(href="#!") Cái kết có hậu cho “cậu bé băng giá” 
											//- time 10/02/2018
		.col-12.col-lg-4.col-xl-3
			.home-sidebar
				.banner-ad
					a(href="#!")
						img(src="img/banner/ad4.jpg", alt="")
			.home-sidebar
				.fanpage
					a(href="#!")
						img(src="img/banner/ad5.jpg", alt="")
		.col-12
			section.news-group
				.title-wrap
					h3.home-title 
						a(href="#!") Giải trí
					nav.news-cate
						a(href="#!") Thế giới sao
						a(href="#!") Âm nhạc
						a(href="#!") Văn học
						a(href="#!") Sân khấu điện ảnh
				.news-list.news-list6
					.row.no-gutters
						.col-12.col-md-6.col-lg-3
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/91.jpg", alt="")
									figcaption
										//- .news-cate Đẹp
										h4.news-name
											a(href="#!") Hoa hậu Lê Ngọc Diệp cuốn hút khi đi dạo trên đường phố Paris
										//- time 10/02/2018
						.col-12.col-md-6.col-lg-3
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/92.jpg", alt="")
									figcaption
										//- .news-cate Thời cuộc
										h4.news-name
											a(href="#!") Tập trung chăm lo Tết cho nữ công nhân mang thai, có con nhỏ
										//- time 10/02/2018
						.col-12.col-md-6.col-lg-3
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/93.jpg", alt="")
									figcaption
										//- .news-cate Luật & Đời
										h4.news-name
											a(href="#!") Thảm án ở Bạc Liêu: Do chồng giết vợ rồi tự sát ngay sau đó
										//- time 10/02/2018
						.col-12.col-md-6.col-lg-3
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/94.jpg", alt="")
									figcaption
										//- .news-cate Đẹp
										h4.news-name
											a(href="#!") Miss Photo 2017 Vũ Hương Giang tinh khôi về thăm trường cũ
										//- time 10/02/2018
		.col-12.col-lg-8.col-xl-9
			section.news-group.clearfix
				.title-wrap
					h3.home-title 
						a(href="#!") Xã hội
					nav.news-cate
						a(href="#!") Giới 24/7
						a(href="#!") Cộng đồng
						a(href="#!") Nông thôn mới
						a(href="#!") Kho báu
				.news-list.news-list7
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/95.jpg", alt="")
							figcaption
								//- .news-cate Thời cuộc
								h4.news-name
									a(href="#!") Thúc đẩy bình đẳng giới khu vực châu Á - Thái Bình Dương
								//- time 10/02/2018
								.news-des Sáng 18/1, tại Hà Nội, trong khuôn khổ Hội nghị thường niên lần thứ 26 Diễn đàn Nghị viện châu Á -Thái Bình Dương (APPF - 26), Hội nghị Nữ nghị sĩ đã chính thức khai mạc với mục tiêu thúc đẩy bình đẳng giới và thịnh vượng chung trong khu vực.
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/96.jpg", alt="")
							figcaption
								//- .news-cate Thời cuộc
								h4.news-name
									a(href="#!") Làm rõ trách nhiệm người đầu khi để xảy ra bạo lực với phụ nữ, trẻ em
								//- time 10/02/2018
								.news-des Ngày 17/1, Thủ tướng Nguyễn Xuân Phúc dự và phát biểu chỉ đạo tại Hội nghị trực tuyến tổng kết công tác năm 2017 và triển khai nhiệm vụ 2018 của Bộ Lao động - Thương binh và Xã hội (LĐ-TB&XH). 
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/97.jpg", alt="")
							figcaption
								//- .news-cate Video
								h4.news-name
									a(href="#!") Nàng bầu Hà Anh gợi ý mặc đẹp khi hẹn hò
								//- time 10/02/2018
								.news-des Dù lúc quay clip này, siêu mẫu Hà Anh đang ốm nghén nhưng cô vẫn nhiệt tình giới thiệu với các bạn gái những phong cách thời trang phù hợp khi đi hẹn hò, để trở nên duyên dáng và đầy quyến rũ.
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/98.jpg", alt="")
							figcaption
								//- .news-cate Góc tâm hồn
								h4.news-name
									a(href="#!") Danh hài Thúy Nga: "Làm con sen, con ở dễ hơn làm hoa hậu"
								//- time 10/02/2018
								.news-des Tối 17/1, xuất hiện trên thảm đỏ của lễ trao giải âm nhạc Pops Awards 2017, Thúy Nga gây ấn tượng mạnh với quan khách trong bộ đầm chim công sang trọng như công chúa của NTK Tuấn Huỳnh. Để phát huy được hết phom dáng và sự kỳ công của bộ đầm, Thúy Nga chấp nhận “làm bạn” với đôi giày có chiều cao ‘khủng” kèm theo vương miện trên đầu.
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/99.jpg", alt="")
							figcaption
								//- .news-cate Góc tâm hồn
								h4.news-name
									a(href="#!") Diễn viên Hòa Hiệp nhận giải thưởng Ngôi sao xanh
								//- time 10/02/2018
								.news-des Tối 17/1, xuất hiện trên thảm đỏ của lễ trao giải âm nhạc Pops Awards 2017, Thúy Nga gây ấn tượng mạnh với quan khách trong bộ đầm chim công sang trọng như công chúa của NTK Tuấn Huỳnh. Để phát huy được hết phom dáng và sự kỳ công của bộ đầm, Thúy Nga chấp nhận “làm bạn” với đôi giày có chiều cao ‘khủng” kèm theo vương miện trên đầu.

		.col-12.col-lg-4.col-xl-3
			.sidebar-news
				.title-wrap
					h3.sidebar-title Tin mới nhất
				.post-list.post-list2
					.post
						h4.post-name
							a(href="#!") Hoàng Kỳ Nam kết hợp Trúc Anh tung MV mới đậm chất ngôn tình
						//- time 2 giờ trước
					.post
						h4.post-name
							a(href="#!") Thêm cơ hội cho các ngôi sao nhí rèn luyện kỹ năng
						//- time 2 giờ trước
					.post
						h4.post-name
							a(href="#!") Café cùng doanh nghiệp: Nơi chia sẻ kinh nghiệm và kết nối giao thương
						//- time 2 giờ trước
					.post
						h4.post-name
							a(href="#!") Lập kế hoạch chi tiêu để tránh rơi vào khủng hoảng tài chính
						//- time 2 giờ trước
					.post
						h4.post-name
							a(href="#!") Triển lãm sắp đặt đầu tiên tại Việt Nam về chống nạn ấu dâm
						//- time 2 giờ trước
					.post
						h4.post-name
							a(href="#!") Vợ đi xuất khẩu lao động 10 năm trở về mấy lần đòi chia tay
						//- time 2 giờ trước
					.post
						h4.post-name
							a(href="#!") Giải pháp rút tiền 24/7 đầy sáng tạo, lần đầu tiên có tại Việt Nam
						//- time 2 giờ trước
					//- .post
						h4.post-name
							a(href="#!") Vinpearl nâng cấp toàn hệ thống lên chuẩn 5 sao quốc tế
						//- time 2 giờ trước
					//- .post
						h4.post-name
							a(href="#!") 5 dấu hiệu phân biệt cà chua Việt Nam-cà chua Trung Quốc
						//- time 2 giờ trước
					//- .post
						h4.post-name
							a(href="#!") Thích thú thưởng thức bò cạp chiên "giá rẻ bất ngờ"
						//- time 2 giờ trước
			.home-sidebar
				.banner-ad
					a(href="#!")
						img(src="img/banner/ad8.jpg", alt="")
			.home-sidebar
				.banner-ad
					a(href="#!")
						img(src="img/banner/ad9.jpg", alt="")
			.home-sidebar
				.banner-ad
					a(href="#!")
						img(src="img/banner/ad10.jpg", alt="")